{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Perl class{% endblock %}</title>
</head>
<body>
<header>
    <h1>Perl Class</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {# Different page content #}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2024 Perl Class</p>
</footer>
</body>
</html>